@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:wght@400;700&display=swap');

body {
  background-color: #fff9ef;
  font-family: 'montserrat', 'sans-serif';
  font-size: 16px;
  color: #112B3C;
  line-height: auto;
}

h1 {
  color: #F66B0E;
  font-size: 24px;
  line-height: 12px;
  /* font-weight: 700 */
}

h2 {
  color: #205375;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 100px;
}

#btn-dollars {
  background-color: lightblue;
  background-size: cover;
  /* object-fit: fill; */
  /* background-color: green; */
  padding: 8px;
  border-radius: 3px;
  border: 1px rgba(0,0,0,.5);
  box-shadow: 1px 1px 2px rgba(0,0,0,.3)
}

a:hover {
  color: #F66B0E;
  transition-delay: 0.2s;
}

.container {
  margin: 40px 100px;
}

.card {
  margin: 25px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px #112b3c27;
  max-width: 900px;
}

.rounded-pic {
  border-radius: 50%;
}

#pp-shadow {
  box-shadow: 1px 1px 10px rgba(0,0,0,.3)
}

.socials {
  background-image: url('https://img.freepik.com/free-vector/floating-laughing-emoji-characters_52683-27761.jpg?w=2000');
  background-size: auto;
}

.fa-brands {
  font-size: 40px;
}

.socials p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: white;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
/* background, border, border-radius and box-shadow */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
